@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'AlegreyaBold';
    src: url(../fonts/Alegreya-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Scriptina';
    src: url(../fonts/SCRIPTIN.ttf) format('truetype');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-size: 18px;
    line-height: 1.6rem;
    font-family: 'PlayfairDisplay', 'Alegreya', 'Helvetica', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.toggle-nav {
    display:none;
}

.nav-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/About/mypic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    position: relative;
    background-color: rgba(34, 34, 34, 0.767)
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
}

.logo img {
    width: 120px;
    height: 60px;
}

.socials {
    margin-top: -30px;

}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c086;
    top:0;
    position: fixed;
    z-index: 1;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #FFF;
}

.nav-bar ul li:hover {
    color: #5c5252c5;
}

.nav-bar .current {
    color: #5c5252ea;
}


/* About me para part */

#about-me {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(199, 199, 199, 0.281);
}

#about-me h1 {
    text-align: center;
    color: #5c5252c5;
    font-size: 200%;
    padding-top: 80px;
    padding-bottom: 40px;

}

#about-me p {
    padding-bottom: 10px;
}
#about-me .para {
    padding-bottom: 80px;
}


#about-me span {
    color: #5c5252c5;
    font-size: 200%;
}

/* Companies slider */

#slider-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-color: rgba(245, 245, 245, 0.877);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.customer-logos {
    padding-top: 80px;
}

#slider-wrapper h1 {
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
    color:#5c5252c5;
}

.slick-slide {
    margin: 10px 100px 0 100px;
}

.slick-slide img {
    width: 200px;
    height: 100px;
    margin-right: 35px;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:hover {
    cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

/* Footer styling */

#footer {
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
    text-align: center;
    background-color: #00000077;
    height: 300px;
    padding: 80px;
}

.footer-info {
    float:left;
    width: 30%;

   
}

.footer-info h4 {
    font-family: 'Alegreya', sans-serif;
    color: #FFF;
}

.footer-info p{
    color: #FFF;
    font-size: 80%;
    padding-top:5px;
    letter-spacing: 1px;
}

.footer-info a i {
    padding-top: 20px;
    margin-right: 25px;
}

.footer-info a i:hover {
    color:#5c5252ea;
    transition: 1s;
}



@media only screen and (max-width: 680px) {
    .nav-wrapper {
        background: url(../images/Responsive/responsiveabout.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .nav-bar {
        position:relative;
        display:inline-block;
    }

    .nav-bar ul.active {
        display:none;
    }


    .nav-bar ul {
		width:45%;
        position:absolute;
        float:right;
		top:100%;
		right:0;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
        background:#b3b3b3f5;
        
    }
    .socials {
        display: none;
    }
    

    .nav-bar ul li {
        margin:0;
        padding:0;
        font-size: 18px;
    }

    .nav-bar span {
        padding-left: 35px;
    }


    .toggle-nav  {
        padding: 15px;
        padding-left: 120px;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:rgb(2, 2, 2);
		font-size:35px;
		transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#585858c5;
}

/* Slider */
.slick-slide {
    margin: 10px 100px 0 50px;
}

/* Footer */

        #footer {
            height: 800px;
        }
        .footer-info {
            float:none;
            width: 100%;
        }
        .footer-info a i {
            padding-top: 20px;
            margin-right: 25px;
        }

}

