@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'AlegreyaBold';
    src: url(../fonts/Alegreya-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Scriptina';
    src: url(../fonts/SCRIPTIN.ttf) format('truetype');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-size: 18px;
    line-height: 1.6rem;
    font-family: 'PlayfairDisplay', 'Alegreya', 'Helvetica', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/wrapper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    position: relative;
    background-color: rgba(34, 34, 34, 0.767)
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
}

.logo img {
    width: 120px;
    height: 60px;
}

.socials {
    margin-top: -30px;

}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c086;
    top:0;
    position: fixed;
    z-index: 1;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #FFF;
}

.nav-bar ul li:hover {
    color: #5c5252c5;
}

.nav-bar .current {
    color: #5c5252ea;
}

/* Companies slider */

#slider-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-color: rgba(245, 245, 245, 0.877);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.customer-logos {
    padding-top: 80px;
}

#slider-wrapper h1 {
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
    color:#5c5252c5;
}

.slick-slide {
    margin: 10px 100px 0 100px;
}

.slick-slide img {
    width: 200px;
    height: 100px;
    margin-right: 35px;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:hover {
    cursor: pointer;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

/* Footer styling */

#footer {
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
    text-align: center;
    background-color: #00000077;
    height: 300px;
    padding: 80px;
}

.footer-info {
    float:left;
    width: 30%;

   
}

.footer-info h4 {
    font-family: 'Alegreya', sans-serif;
    color: #FFF;
}

.footer-info p{
    color: #FFF;
    font-size: 80%;
    padding-top:5px;
    letter-spacing: 1px;
}

.footer-info a i {
    padding-top: 20px;
    margin-right: 25px;
}

.footer-info a i:hover {
    color:#5c5252ea;
    transition: 1s;
}
