@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'AlegreyaBold';
    src: url(../fonts/Alegreya-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Scriptina';
    src: url(../fonts/SCRIPTIN.ttf) format('truetype');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-size: 18px;
    line-height: 1.6rem;
    font-family: 'PlayfairDisplay', 'Alegreya', 'Helvetica', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.toggle-nav {
    display: none;
}

.nav-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/Contact/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(34, 34, 34, 0.767)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
}

.logo img {
    width: 120px;
    height: 60px;
}

.socials {
    margin-top: -30px;

}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c0fb;
    top:0;
    position: fixed;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #5c5252c5;
}

.nav-bar ul li:hover {
    color: #FFF;
}

.nav-bar .current {
    color: #FFF;
}


/* Headline, paragraph, separator, button */
.inside-wrapper1 {
    text-align:center;
    width: 80%;
    margin:0 auto;
    padding-top:250px;
    
}
.separator1 {
    height: 2px;
    max-width: 550px;
    background: rgb(0, 0, 0);
    width: 100%;
    margin:0 auto;
    margin-top: 20px;
}

.inside-wrapper1 h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 15rem;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    padding: 100px;
    text-shadow: 2px 3px #f3f3f334;

}



/* Contact Form Styling */

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 850px;
    border-top:none;
    background-color: #fff;
    padding:20px 0 0 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col1 {
    margin:0 auto;
    width: 50%;
}

.col1 h1 {
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
    color:#5c5252c5;
}

.col1 p{
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 100%;
    text-align: center;
    padding-top: 20px;
    color:#5c5252c5;
}

form {
    height: 550px;
}

.box-2 {
    width: 100%;
    padding: 80px;

}

label {
    font-size: 100%;
    font-family: 'AlegreyaBold', sans-serif;
    float: left;
    clear: left;
    text-align: left;
    padding:5px;
    margin-top:5px;
    color: rgba(164, 125, 94, 0.8);
    margin-left: 5px;
}

input[type=name], input[type=email] {
    padding:20px;
    float:left;
    width: 100%;
    font-size: 90%;
    font-family: 'PlayfairDisplay', sans-serif;
    border:none;
    border-bottom: 1px solid #d6d5d5;
    margin-left: 5px;
    border-radius: 3px;
    transition: width 5s ease-in-out;
    outline: none;
}

input::placeholder {
   opacity: 0.4;
}

.email1 {
    padding-top: 100px;
}


input[type=name]:focus {
    border: none;
    border-bottom: 1px solid rgba(164, 125, 94, 0.8);
}

input[type=email]:focus {
    border: none;
    border-bottom: 1px solid rgba(164, 125, 94, 0.8);
}

.divbtn {
    margin-top: 30px;
    margin-left: 5px;
}

.button1 {
    width: 200px;
    height: 50px;
    border: none;
    color: rgba(164, 125, 94, 0.8);
    font-weight: bold;
    font-size: 100%;
    font-family: 'PlayfairDisplay', sans-serif;
    border-radius: 2px;
    border: 1px solid rgba(164, 125, 94, 0.8);
}

.button1:hover{
    cursor:pointer;
    background-color: rgba(164, 125, 94, 0.8);
    color: #FFF;
}

.divarea {
    margin-left: 8px;
    margin-top: 100px;
}

textarea {
    padding: 5px;
    width: 300px;
	height: 120px;
	border: 3px solid #cccccc;
    padding: 5px;
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 80%;

}

#map {
    height: 585px;
    width: 500px;
    float: right;
    background: url(../images/Contact/mypic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.5), 1px 6px 20px 8px rgba(164, 125, 94, 0.49);
    border: 5px solid #ebe8e8c5;
    border-bottom-right-radius: 15%;
}

/* Footer styling */

#footer {
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
    text-align: center;
    background-color: #00000077;
    height: 400px;
    padding-top: 80px;
}

.footer-info {
    float:left;
    width: 33%;
    margin-bottom: 50px;

   
}

.footer-info h4 {
    font-family: 'Alegreya', sans-serif;
    color: #FFF;
}

.footer-info p{
    color: #FFF;
    font-size: 80%;
    padding-top:5px;
    letter-spacing: 1px;
}

.footer-info a i {
    padding-top: 20px;
    margin-right: 35px;
}

.footer-info a i:hover {
    color:#5c5252ea;
    transition: 0.2s;
}


/* Responsive */

@media only screen and (max-width: 1200px) {
    .nav-bar ul li {
        font-size: 25px;
        padding-right: 30px;
    }
    .nav-bar span {
        padding-right: 20px;
    }
    .box-2 {
        width: 100%;
        float: none;
        padding: 20px;
    }

     .wrapper {
         height: 1200px;
     }
     .button1 {
         width: 30%;
     }
     .divbtn {
         margin:0;
         margin-top: 20px;
     }

     #footer {
         height: 450px;
     }


}

@media only screen and (max-width: 900px) {
    .socials {
        display: none;
    }
    .nav-wrapper {
        background: url(../images/Responsive/contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 680px) {
    .nav-bar {
        position:relative;
        display:inline-block;
    }

    .nav-bar ul.active {
        display:none;
    }


    .nav-bar ul {
		width:45%;
        position:absolute;
        float:right;
		top:100%;
		right:0;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
        background:#b3b3b3f5;
        
    }
    .socials {
        display: none;
    }
    

    .nav-bar ul li {
        margin:0;
        padding:0;
        font-size: 18px;
    }

    .nav-bar span {
        padding-left: 35px;
    }


    .toggle-nav  {
        padding: 15px;
        padding-left: 120px;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:rgb(2, 2, 2);
		font-size:35px;
		transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#585858c5;
    }

    /* contact section */
    .wrapper {
        height: 800px;
    }
    
    .inside-wrapper1 h1 {
        font-size: 8rem;
        padding: 50px;
    }

    .box-2 {
        width: 100%;
        float: none;
        padding: 20px;
        margin-top: 30px;
    }
 
    .col1 {
        width: 100%;
    }
    .divbtn {
        margin: 0;
        margin-top: 30px;
    }

    /* Footer */

    #footer {
        height: 650px;
        padding: 40px;
    }
    .footer-info {
        float:none;
        width: 100%;
    }
    .footer-info a i {
        margin-right: 35px;
        padding: 10px 0 0 0;
    }
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-wrapper {
        background: url(../images/Responsive/responsivecontact.jpg);
        height: 320px;
    }
    .inside-wrapper1{
        padding-top: 120px;
    }
    .inside-wrapper1 h1 {
        font-size: 80px;
        padding: 20px;
        margin:0;
        color:#000000;
        font-weight: 600;
    }
}
