@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-size: 18px;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;

}
.container {
    width: 80%;
    margin: 0 auto;
}

.nav-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/bread1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
    color: #fff;
}

.socials {
    margin-top: -30px;
}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c086;
    top:0;
    position: fixed;
    z-index: 1;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #FFF;
}

.nav-bar ul li:hover {
    color: #5c5252c5;
}

.nav-bar .current {
    color: #5c5252ea;
}

.inside-wrapper {
    height: 3000px;
}

.inside-wrapper {
    position: absolute;
    text-align:center;
    width: 80%;
    margin:0 auto;
    margin-top: 250px;
}
.separator {
    height: 2px;
    max-width: 200px;
    background: lightgray;
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
}

.inside-wrapper h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 10rem;
    color: #FFF;
    font-weight: 100;
    padding: 40px;
}

.inside-wrapper p {
    color: #FFF;
    font-size: 2.5rem;
    font-family: 'PlayfairDisplay', sans-serif;
    padding-top: 50px;
    padding-bottom: 80px;
    font-weight: 100;
}
.inside-wrapper .btn {
    color: #fff;
    background-color: #5c525281;
    width: 120px;
    border:none;
    height: 50px;
    font-size: 20px;
    font-family: 'PlayfairDisplay', sans-serif;
    outline: none;
}

.inside-wrapper .btn:hover {
    background-color: #ffffff4d;
    color: #5c5252ef;
    cursor: pointer;
}