@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'AlegreyaBold';
    src: url(../fonts/Alegreya-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Scriptina';
    src: url(../fonts/SCRIPTIN.ttf) format('truetype');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-size: 18px;
    line-height: 1.6rem;
    font-family: 'PlayfairDisplay', 'Alegreya', 'Helvetica', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}
.toggle-nav {
	display:none;
}

.nav-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/wrapper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(34, 34, 34, 0.767)
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
}

.logo img {
    width: 120px;
    height: 60px;
}

.socials {
    margin-top: -30px;

}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c086;
    top:0;
    position: fixed;
    z-index: 1;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #FFF;
}

.nav-bar ul li:hover {
    color: #5c5252c5;
}

.nav-bar .current {
    color: #5c5252ea;
}


/* Headline, paragraph, separator, button */
.inside-wrapper {
    text-align:center;
    width: 80%;
    margin:0 auto;
    padding-top:250px;
}
.separator {
    height: 2px;
    max-width: 250px;
    background: lightgray;
    width: 100%;
    margin:0 auto;
    margin-top: 80px;
}

.inside-wrapper h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    padding: 20px;
    text-shadow: 2px 3px #f3f3f334;

}

.inside-wrapper p {
    color: #FFF;
    font-size: 2.5rem;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 100;
    padding: 90px;
}
.inside-wrapper .btn {
    color: #fff;
    background-color: #5c525281;
    width: 120px;
    border:none;
    height: 50px;
    font-size: 20px;
    font-family: 'Alegreya Bold', sans-serif;
    outline: none;
}

.inside-wrapper .btn:hover {
    background-color: #ffffff4d;
    color: #fcfcfcef;
    cursor: pointer;
}

/* Bread between 2 containers */

.breadtag {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.breadtag img {
    margin-top: 100px;
}

/* Section-First CSS*/

#boxes {
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
    height: 800px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#boxes .box {
    width: 50%;
    float:left;
    text-align:center;
    margin-top: 50px;
}

#boxes .box h4 {
    font-size: 100%;
    padding-top: 20px;
    font-family: 'Alegreya', sans-serif;
    font-weight: 500;
    color: rgb(3, 3, 3);
}
#boxes .box p {
    padding: 45px 35px 0 45px;
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;

}

#boxes h1 {
    text-align:center;
    font-size:250%;
    padding-top: 20px;
    font-family: 'PlayfairDisplay', sans-serif;
    color: #030303;
}

.box h2 {
    padding-top: 50px;
    font-size: 150%;

}

#boxes .box .cane{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.hrs {
    width: 25%;
    display: inline-block;
}

.hrs hr {
    margin-top: 80px;
}

/* Blockquote syling */

blockquote {
    font-family:'Scriptina', sans-serif; 
    font-size: 25px;
    font-style: italic;
    width: 500px;
    margin-left: 30px;
    padding: 3em 40px;
    line-height: 1.45;
    position: relative;
    color: #66614c;
    }
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -20px;
    color: #c5b8b8;
    padding-top: 80px;
    margin-left: 400px;
 }
 blockquote:after {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -20px;
    margin-left: -15px;
    color: #c5b8b8;
    padding-top: 50px;
 }

 /* Right box styling */

.boxwrap {
    margin: 25px 0 0 4px;
}

 .column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
  
.column img {
    background-color: #f1f1f1;
    width: 280px;
    height: 280px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(121, 121, 121, 0.432);
}


/* 3 Box Section*/
#boxes2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    height: 800px;
    background-image: url('../images/js-slider/flouregg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#boxes2 .boxie {
    margin: 0 auto;
    width: 80%;
}
#boxes2 .box2 {
    width: 25%;
    float:left;
    text-align:center;
    margin-top: 50px;
    padding: 35px;
    margin-left: 80px;
    background-color: #f4f4f49f;
    border-radius: 5px;
    box-shadow: 5px 8px 18px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    height: 550px;
}

#boxes2 .box2 h3 {
    font-size: 180%;
    padding-top: 40px;
    font-family: 'AlegreyaBold', sans-serif;
    font-weight: 300;
    color:rgba(164, 125, 94, 0.8);
    line-height: 1.1em;
}
#boxes2 .box2 p {
    padding: 15px 25px 0 25px;
    text-align: center;
    font-size: 80%;

}

#boxes2 .box2 img {
    width:40%;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 245, 245, 0.562);
}

#boxes2 h1 {
    text-align:center;
    padding-top:80px;
    font-size:250%;
    color: #ffffff;
}

/* End Section */

#section-end {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: #f4f4f4;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#section-end h1 {
    font-family: 'AlegreyaBold', sans-serif;
    font-size: 250%;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 1px;
}
#section-end .s-title {
    font-family: 'AlegreyaBold', sans-serif;
    font-size: 70%;
    text-align: center;
    padding-top: 10px;
    color: rgba(164, 125, 94, 0.8);
    letter-spacing: 1px;
}

.aside {
    position: absolute;
    float:left;
   
}
.row {
   width: 200px;
   box-sizing: border-box;
   padding-top: 35px;
}
.row img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 60px;
   
}
.row h4 {
    text-align: center;
    font-family: "AlegreyaBold", sans-serif;
    font-size: 120%;
    color: rgba(164, 125, 94, 0.8);
    letter-spacing: 2px;
}

.row p {
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    font-size: 80%;
    letter-spacing: 1px;
}
.right-info1 {
    float:right;
    padding: 40px;
    position: relative;
}
.right-info1 img {
    width: 770px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(121, 121, 121, 0.432);
    padding: 8px;
}
.right-info2 {
    top:100px;
    right:100px;;
    position: absolute;
    padding: 10px;
    
}
.right-info2 .row2 {
    width: 200px;
    height:200px;
    border: 1px solid gray;
    background-color: #fdfdfdd5;
    text-align: center;
    padding-top: 30px;
    line-height: 2em;
}
.right-info2 .row2:nth-child(3) {
    background-image: url(../images/endsection/vektorsm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.right-info2 .row2 h4 {
    color: rgba(164, 125, 94, 0.8);
    font-family: 'Alegreya', sans-serif;
}

.right-info2 .row2 h3 {
    font-family: 'AlegreyaBold', sans-serif;
    font-size: 350%;
}
.right-info2 .row2 p {
    padding-top: 15px;
    font-size: 80%;
}

/* Dropdown button */
.dropbtn {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #FFF;
    color: rgba(164, 125, 94, 0.8);
    font-family: 'Alegreya', sans-serif;
    outline: 1px dotted black;
    border:none;
    padding: 8px;
}
.dropbtn:hover {
    cursor:pointer;
    background-color: rgba(164, 125, 94, 0.295);
    transition: 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content p {
    display: inline-block;
    padding-right: 10px;

}
.show {
    display: block;
}

/* Footer styling */

#footer {
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
    text-align: center;
    background-color: #00000077;
    height: 300px;
    padding: 80px;
}

.footer-info {
    float:left;
    width: 30%;

   
}

.footer-info h4 {
    font-family: 'Alegreya', sans-serif;
    color: #FFF;
}

.footer-info p{
    color: #FFF;
    font-size: 80%;
    padding-top:5px;
    letter-spacing: 1px;
}

.footer-info a i {
    padding-top: 20px;
    margin-right: 25px;
}

.footer-info a i:hover {
    color:#5c5252ea;
    transition: 1s;
}

/* RESPONSIVE for TABLET */

@media only screen and (max-width: 1240px) {
    .inside-wrapper h1 {
        padding: 0px;
        font-size: 650%;
    }
    .inside-wrapper p {
        font-size: 150%;
    }
    .breadtag img {
        margin-top: 130px;
    }
}



@media only screen and (max-width: 1024px) {
    .column img {
        width: 200px;
        height: 200px;
    }
    .boxwrap {
        padding: 50px;
    }
   
    #boxes2 .box2 {
        margin-left: 10px;
        width: 32%;
  
    }

    /* Footer */
    #footer {
        height: 400px;
    }
    .footer-info p {
        font-size: 80%;
    }
    .wrapper-all {
        z-index:0;
    }
      
}

@media only screen and (max-width: 680px) {
    .logo {
        padding-left: 36px;
    }
    
    .nav-bar {
        position:relative;
        display:inline-block;
    }

    .nav-bar ul.active {
        display:none;
    }


    .nav-bar ul {
		width:45%;
        position:absolute;
        float:right;
		top:100%;
		right:0;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
        background:#b3b3b3f5;
        
    }
    

    .nav-bar ul li {
        margin:0;
        padding:0;
        font-size: 18px;
    }

    .nav-bar span {
        padding-left: 50px;
    }

  
    .toggle-nav {
        padding: 15px;
        padding-left: 120px;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:rgb(2, 2, 2);
		font-size:35px;
		transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#585858c5;
}
/* Styling nav for mobile */

.nav-wrapper{
        background: url(../images/wrapper.jpg);
    }
.inside-wrapper h1 {
        font-size: 400%;
        line-height: 1.3em;
        padding-top: 30px;
    }
.inside-wrapper p {
        font-size: 100%;
   }
.inside-wrapper {
        padding-top: 100px;
   }
.socials {
        display: none;
   }
.container {
        width: 100%;
        margin: 0 auto;
   }
.breadtag {
        width: 80px;
        height: 80px;
        margin: 0 auto;
 }
.breadtag img {
       margin-top: 20px;
}

/* second section*/
#boxes {
       height: 1600px;
   }
    
#boxes .box {
       float:none;
       width:100%;
   }
#boxes .box h1 {
      line-height: 1.1em;
}
#boxes .box p {
       font-size: 80%;
       width: 95%;
       margin:0 auto;
       padding:5px;
       line-height: 1.1em;
   }
.column {
        float: none;
        width: 100%;
        box-sizing: border-box;
}
  
.column img {
    background-color: #f1f1f1;
    width: 280px;
    height: 180px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(121, 121, 121, 0.432);
}
blockquote {
    width: 300px;
    padding: 30px;
    line-height: 1.6em;
   
    }
blockquote:before {
        display: block;
        margin-left: 200px;
        padding-top: 100px;
    }
blockquote:after {
        top: -30px;
    }
/* Third section */
#boxes2 {
    height: 1700px;
    background: #333;
    color: #FFF;
}
#boxes2 .box2 {
    width: 100%;
    float: none;
    text-align:center;
    margin-top: 50px;
    padding: 15px;
    background-color: #f4f4f49f;
    border-radius: 5px;
    box-shadow: 5px 8px 18px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    height: 450px;
}

/* Fourth Section */

#section-end {
    height: 600px;
}
.row {
    display:none;
}

.right-info1{
  padding-top: 100px;
}
.right-info1 img {
    width: 300px;
    height: 200px;
}

.right-info2 {
    right: 20px;
    padding-top: 80px;
}
.right-info2 .row2 {
    width: 100px;
    height: 100px;
    padding-top: 15px;
    line-height: 1.3em;
}
.right-info2 .row2 p {
    font-size: 50%;
    padding: 0;
}
.right-info2 .row2 h3 {
    font-size: 120%;
    padding: 0;
}
.right-info2 .row2 h4 {
    font-size: 80%;
}

/* Footer */
#footer {
    height: 700px;
}
.footer-info {
    float:none;
    width: 100%;
}
.footer-info a i {
    padding-top: 20px;
    margin-right: 35px;
}



}