@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'AlegreyaBold';
    src: url(../fonts/Alegreya-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Scriptina';
    src: url(../fonts/SCRIPTIN.ttf) format('truetype');
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgba(73, 70, 70, 0.253);
    font-size: 18px;
    line-height: 1.6rem;
    font-family: 'PlayfairDisplay', 'Alegreya', 'Helvetica', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-wrapper{
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/wrapper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    position: relative;
    background-color: rgba(34, 34, 34, 0.767)
}

/* Stilizovanje navigacionog bara - logo, nab-bar, social icons*/
.logo {
    float: left;
}

.logo img {
    width: 120px;
    height: 60px;
}

.socials {
    margin-top: -30px;

}
.fab {
    float:right;
    padding-right: 15px;
    font-size: 1.6em;
    color: white;
}

.wrapper-all {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background-color: #c0c0c086;
    top:0;
    position: fixed;
    z-index: 5;
    
}

.nav-bar {
   text-align: center;

}

.nav-bar span {
    padding-right: 80px;
    color:#FFF;
}

.nav-bar ul {
	list-style: none;
}

.nav-bar ul li {
    display: inline-block;
	font-size: 30px;
    margin-top: 20px;
    padding-right: 100px;
    font-family: 'Alegreya', sans-serif;
}

.nav-bar ul a {
    color: #FFF;
}

.nav-bar ul li:hover {
    color: #5c5252c5;
}

.nav-bar .current {
    color: #5c5252ea;
}

.inside-wrapper {
    height: 3000px;
}

/* Headline, paragraph, separator, button */
.inside-wrapper {
    position: absolute;
    text-align:center;
    width: 80%;
    margin:0 auto;
    margin-top: 250px;
}
.separator {
    height: 2px;
    max-width: 200px;
    background: lightgray;
    width: 100%;
    margin:0 auto;
    margin-top: 50px;
}

.inside-wrapper h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 100;
    padding: 50px;
    text-shadow: 2px 3px #f3f3f35e;

}

.inside-wrapper p {
    color: #FFF;
    font-size: 2.5rem;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 100;
    padding: 90px;
}
.inside-wrapper .btn {
    color: #fff;
    background-color: #5c525281;
    width: 120px;
    border:none;
    height: 50px;
    font-size: 20px;
    font-family: 'Alegreya Bold', sans-serif;
    outline: none;
}

.inside-wrapper .btn:hover {
    background-color: #ffffff4d;
    color: #fcfcfcef;
    cursor: pointer;
}

/* Bread between 2 containers */

.breadtag {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.breadtag img {
    margin-top: 750px;
}

/* Section-First CSS*/

#boxes {
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
    height: 800px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#boxes .box {
    width: 50%;
    float:left;
    text-align:center;
    margin-top: 50px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border-bottom:none;
    border-right:none;
}

#boxes .box h4 {
    font-size: 100%;
    padding-top: 20px;
    font-family: 'Alegreya', sans-serif;
    font-weight: 500;
    color: #333;
}
#boxes .box p {
    padding: 45px 35px 0 45px;
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;

}

#boxes h1 {
    text-align:center;
    font-size:250%;
    padding-top: 20px;
    font-family: 'PlayfairDisplay', sans-serif;
    color: #4b4a4a;
}

.box h2 {
    padding-top: 50px;
    font-size: 150%;
    margin-bottom: -50px;

}

#boxes .box .cane{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.hrs {
    width: 25%;
    display: inline-block;
}

.hrs hr {
    margin-top: 100px;
}

/* Blockquote syling */

blockquote {
    font-family:'Scriptina', sans-serif; 
    font-size: 25px;
    font-style: italic;
    width: 500px;
    margin-left: 30px;
    padding: 3em 40px;
    line-height: 1.45;
    position: relative;
    color: #66614c;
    }
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -20px;
    color: #c5b8b8;
    padding-top: 80px;
    margin-left: 400px;
 }
 blockquote:after {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    top: -20px;
    margin-left: -15px;
    color: #c5b8b8;
    padding-top: 50px;
 }

 /* Right box styling */

.boxwrap {
    margin: 25px 0 0 4px;
}

 .column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
  
.column img {
    background-color: #f1f1f1;
    width: 280px;
    height: 280px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(121, 121, 121, 0.432);
}

/* JS slider and another section */

#js-slider {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: url(../images/js-slider/flouregg.jpg);
    background-color: #288eea;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container2 {
    width: 60%;
    margin:0 auto;
}

#js-slider .insidewrapper{
    margin-top: 200px;
    position: absolute;
}

#js-slider .images {
    width: 400px;
    height: 400px; 
    background: #f3f3f3;
    border: 1px solid red;
}

#js-slider .info-slider {
    width: 500px;
    height: 400px;
    background: #ffffff;
    margin-left: 401px;
    position: relative;
}

.info-slider img {
    height: 300px;
    position: absolute;
    bottom:0;
    right:0;
    opacity: 0.2;
}



/* End Section */

#section-end {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    margin:0 auto;
    background: #f4f4f4;
    position: relative;
}

#section-end h1 {
    font-family: 'AlegreyaBold', sans-serif;
    font-size: 250%;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 1px;
}
#section-end .s-title {
    font-family: 'AlegreyaBold', sans-serif;
    font-size: 70%;
    text-align: center;
    padding-top: 10px;
    color: rgba(164, 125, 94, 0.8);
    letter-spacing: 1px;
}

.aside {
    position: absolute;
    float:left;
   
}
.row {
   width: 200px;
   box-sizing: border-box;
   padding-top: 35px;
}
.row img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 60px;
   
}
.row h4 {
    text-align: center;
    font-family: "AlegreyaBold", sans-serif;
    font-size: 120%;
    color: rgba(164, 125, 94, 0.8);
}

.row p {
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    font-size: 80%;
}
.right-info1 {
    float:right;
    padding: 40px;
    position: relative;
}
.right-info1 img {
    width: 750px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(121, 121, 121, 0.432);
    padding: 5px;
}
.right-info2 {
    top:100px;
    right:100px;;
    position: absolute;
    
}
.right-info2 .row2 {
    width: 200px;
    height:200px;
    border:1px solid blueviolet;
    margin:1px;
    background-color: #d6dfe77a;
}
.right-info2 .row2:nth-child(3) {
    background-color: #9b878718;
    background-image: url(../images/endsection/vektorsm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}